<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
	<localRepository>D:/.m2/repository</localRepository>
	
	<interactiveMode>true</interactiveMode>
	
	<offline>false</offline>
	
	<pluginGroups></pluginGroups>
	
	<proxies></proxies>
	
	<servers></servers>

	<mirrors>
	    <mirror>         
			<id>alimaven</id>
			<name>aliyun maven</name>
			<url>http://maven.aliyun.com/nexus/content/groups/public/</url>
			<mirrorOf>central</mirrorOf> 
	    </mirror> 
	</mirrors>

	<profiles>
		<profile>
	        <id>custom-compiler</id>
	         <properties>
	         	<JAVA8_HOME>D:\Program\Java\jdk1.8</JAVA8_HOME>
	         </properties>
	    </profile>
	</profiles>
	
	<activeProfiles>
		<activeProfile>custom-compiler</activeProfile>
	</activeProfiles>

</settings>