@font-face {
    font-family: "Quicksand";
    src: url("./font/Quicksand-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("./font/Quicksand-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}
